/////////////////////////////////////////
//HomeHeader
/////////////////////////////////////////
.wrap {
  @include out-container;
  padding: 0 1rem;
  @include media($m) {
    padding: 0;
  }
}
/////////////////////////////////////////
// Specific Styles
/////////////////////////////////////////
.hm-header {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background: #fff;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;

  @include media($m) {
    overflow: visible;
    background: white;
    padding: 0;
  }
}
.box-wrap{
  width: 100%; 
  height: 360px;
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 0 1rem;
  padding-top: 4rem;
  @include border-box;
  overflow: hidden;

  @include media($m) {
    height: 700px;
    padding: 0;
  }
  @include media($l) {
    height: 750px;
  }
}

.header-title{
  position: absolute;
  width: 280px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);

  @include media($m) {
    width: 490px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @include media($l) {
    width: 600px;
    height: 340px;
    transform: translate(-50%, -60%);
  }
  
  .grey-box{
    content: '';
    width: 550px;
    height: 450px;
    display: block;
    position: absolute;
    background: $placeholders;
    border-radius: 50px;
    transform: rotate(-15deg);
    left: -30px;
    top: -240px;

    @include media($m) {
      width: 1180px;
      height: 750px;
      left: -180px;
      top: -400px;
    }

    @include media($l) {
      left: -180px;
      top: -360px;
    }

    &.border{
      background: transparent;
      border: 2px solid $grey-3;
      opacity: .1;
    }


  }

  > h1{
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: 4px;

    @include media($m) {
      margin-left: 60px;
      margin-bottom: 1.5rem;
    }
    @include media($l) {
      margin-left: 85px;
    }
  }

  > .green-pattern{
    width: 85px;
    height: 85px;
    position: relative;
    background:transparent url('../images/ui/green-ptr.svg') left top no-repeat;
    background-size: 100%;
    float: left;
    z-index: 1;
    margin-left: -63px;

    @include media($m) {
      width: 145px;
      height: 145px;
      margin-left: 0;
    }

    @include media($l) {
      width: 150px;
      height: 145px;
    }
  }

  span{
    display: block;
    position: relative;
    
    @include media($m) {
      margin-bottom: .6rem;
    }
  }
}

.header-description{
  float: left;
  position: relative;
  width: 235px;
  margin-left: 1rem;

  @include media($m) {
    width: 310px;
    margin-left: 1.5rem;
    padding-top: .5rem;
  }

  @include media($l) {
    width: 380px;
    margin-left: 1.8rem;
    padding-top: .5rem;
  }

  p{
    color: $grey-6;
    @include catamaran(300, 1rem);
    line-height: 25px;

    @include media($m) {
      @include catamaran(300, 1.2rem);
      line-height: 36px;
    }
    @include media($l) {
      @include catamaran(300, 1.5rem);
      line-height: 40px;
    }
  }

}