/////////////////////////////////////////
//HomeHeader
/////////////////////////////////////////
.wrap {
  @include out-container;
  padding: 0 1rem;
  @include media($m) {
    padding: 0;
  }
}
/////////////////////////////////////////
// Specific Styles
/////////////////////////////////////////
.hm-header {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background: #fff;
  margin: 0 auto;
  z-index: 1;
  padding: 5rem 0 7rem 0;
  overflow: hidden;

  @include media($m) {
    overflow: visible;
    background: white;
    padding: 0;
  }
}
.box-wrap{
  width: 100%; 
  min-height: 5rem;
  margin: 0 auto;
  display: block;
  position: relative;
  @include border-box;
  overflow: hidden;

  @include media($m) {
    height: 600px;
  }
  @include media($l) {
    height: 750px;
  }
}

.header-title{
  position: relative;

  @include media($m) {
    width: 600px;
    height: 340px;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }
  @include media($l) {
    width: 600px;
    height: 340px;
  }
  
  .grey-box{
    content: '';
    width: 1180px;
    height: 750px;
    display: block;
    position: absolute;
    background:$placeholders;
    border-radius: 50px;
    transform: rotate(-15deg);
    left: -180px;
    top: -360px;

    &.border{
      background: transparent;
      border: 2px solid $grey-3;
    }
  }

  > h1{
    display: block;
    margin-left: 85px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  > .green-pattern{
    width: 150px;
    height: 145px;
    position: relative;
    background:transparent url('../images/ui/green-ptr.svg') left top no-repeat;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
  }

  span{
    display: block;
    position: relative;
    margin-bottom: .6rem;
  }
}

.header-description{

  @include media($m) {

  }
  @include media($l) {
    width: 380px;
    position: relative;
    margin-left: 1.8rem;
    padding-top: .5rem;
    float: left;
  }

  p{
    color: $grey-6;
    @include catamaran(300, 1rem);
    line-height: 25px;

    @include media($m) {
      @include catamaran(300, 1.2rem);
      line-height: 36px;
    }
    @include media($l) {
      @include catamaran(300, 1.5rem);
      line-height: 40px;
    }
  }

}