
@import '../modules/header-home';

/////////////////////////////////////////
//MyStory
/////////////////////////////////////////
.story {
  background: white;
  margin-top: 7.5rem;
}
.story_title {
  @include column(5, 12);
  margin-left: 1/12*100%;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.story_column-block {
  @include column(11, 12);
  margin-left: 1/12*100%;
  margin-bottom: 7.5rem;
}
.story_column {
  @include column(3.5, 11);
  @include border-box;
  margin-right: .5 / 11 * 100%;
}
.story_column_small {
  @include column(3, 11);
  margin-left: 0%;
  @include omega;
  @include border-box;
  padding-left: 1rem;
	border-left: 1px solid $main;
}
.list_item{
	font-weight: 700;
  color: $text;
	margin-bottom: 1.7rem;
  line-height: .8;
	&:last-child{
		margin-bottom: 0;
	}
	> span{
		font-weight: 400;
		margin-right: 1rem;
	}
}

/////////////////////////////////////////
//Showcase
/////////////////////////////////////////

.showcase_title {
  @include column(6, 12);
  margin-left: 2/12*100%;
  margin-top: 6rem;

  > h2 {
    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }
  > p {
    margin-bottom: 0;
  }
}
.green_pattern{
  width: 204px;
  height: 144px;
  display: block;
  position: absolute;
  background:transparent url('../images/ui/pattern-green.svg') left top no-repeat;
  top: 8rem;
  right: 6rem;
}

@import '../modules/case-list';

/////////////////////////////////////////
//Grid
/////////////////////////////////////////

.example-grid{

  margin: 7.5rem auto;
  @include clearfix;

  > .grid-item{
    position: relative;
    margin-bottom: 3rem;
    .item-copy{
      position: absolute;
    }
    img{
      width: 100%;
    }
  }
  > .item-01{
    .item-image{
      @include column(7,12);
      margin-left: 1/12*100%;
    }
  }
  > .item-02{
    .item-image{
      @include column(5,12);
      margin-left: 0;
    }
  }
  > .item-03{
    .item-image{
      @include column(6,12);
      margin-left: .5/12*100%;
      @include omega;
    }
  }
}





