
/////////////////////////////////////////
//MyStory
/////////////////////////////////////////
.story {
  margin-top: 3rem;

  @include media($m) {
    margin-top: 5rem;
  }
  @include media($l) {
    margin-top: 5.5rem;
  }
}
.story_title {
  @include column(12, 12);
  text-transform: uppercase;
  margin-bottom: 2rem;

  @include media($m) {
    @include column(6, 12);
    margin-left: .5/12*100%;
  }
  @include media($l) {
    @include column(5, 12);
    margin-left: 1/12*100%;
  }
  @include media($lx) {
    margin-left: 1/12*100%;
  }
}
.story_column-block {
  @include column(12, 12);
  margin-bottom: 3rem;

  @include media($m) {
    @include column(11.5, 12);
    margin-left: .5/12*100%;
    margin-bottom: 7.5rem;
  }
  @include media($l) {
    @include column(11, 12);
    margin-left: 1/12*100%;
  }
  @include media($lx) {
    @include column(11, 12);
    margin-left: 1/12*100%;
  }
}
.story_column {
  @include column(12, 12);
  @include border-box;

  @include media($m) {
    @include column(5, 11);
    margin-right: .5 / 11 * 100%;
  }
  @include media($l) {
    @include column(3.5, 11);
    margin-right: .5 / 11 * 100%;
  }
}
.story_column_small {
  @include column(12, 12);
  margin-left: 0%;
  margin-top: 1rem;
  @include omega;
  @include border-box;
  padding-left: 0rem;
  padding-top: 2rem;
  border-left: 0;
  border-top: 1px solid $dividers;

  @include media($m) {
    @include column(10.5, 11);
    padding-left: 0rem;
    padding-top: 2rem;
  }
  @include media($l) {
    @include column(3, 11);
    margin-left: 0%;
    @include omega;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1rem;
    border-left: 1px solid $main;
    border-top: 0;
  }
}
.list_item{
	font-weight: 700;
  color: $text;
	margin-bottom: 1.7rem;
  line-height: .8;
  display: block;
  
  @include media($m) {
    display: inline-block;
    margin-right: 3rem;
  }

  @include media($l) {
    display: block;
    margin-right: 0;
  }

	&:last-child{
		margin-bottom: 0;
	}
	> span{
		font-weight: 400;
		margin-right: 1rem;
	}
}