

/////////////////////////////////////////
//Showcase
/////////////////////////////////////////

.showcase_title {
  @include column(12, 12);
  margin-left: 0;
  margin-top: 2rem;
  z-index: 1;
  
  @include media($m) {
    margin-left: 2/12*100%;
    @include column(8, 12);
    margin-top: 6rem;
  }
  @include media($l) {
    @include column(6, 12);
  }

  > h2 {
    margin-bottom: 1.2rem;
    text-transform: uppercase;

  }
  > p {
    margin-bottom: 0;
  }
}
.green-pattern{
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  background:transparent url('../images/ui/green-ptr.svg') left top no-repeat;
  background-size: 100%;
  top: -.5rem;
  left: -2.25rem;
  z-index: -1;

  @include media($m) {
    width: 120px;
    height: 120px;
    top: -.75rem;
    left: -2.25rem;
  }
  @include media($l) {
    width: 145px;
    height: 145px;
    top: -1.25rem;
    left: -5rem;
  }
}

.green-pattern_first{
  top: -1rem;
  right: 1rem;
  @include media($m) {
    top: -2rem;
    right: 3rem;
  }
  @include media($l) {
    top: -4rem;
    right: 13rem;
  }
}

@import '../modules/case-list';

/////////////////////////////////////////
//Grid
/////////////////////////////////////////

.example-grid{
  margin: 2rem auto;
  @include clearfix;

  @include media($m) {
    margin: 7.5rem auto 14rem auto;
  }

    .grid-row{
      margin-bottom: 0;
       @include clearfix;

       @include media($m) {
          margin-bottom: 3rem;
        }
    }

   .grid-item{
    position: relative;
    margin-bottom: 0rem;

    .item-image{
      margin-top: 2rem;
      @include media($m) {
        margin-top: 0;
      }
    }
    
    .item-copy{
      position: relative;
      display: block;
      width: 80%;
      height: auto;
      text-align: left;
      margin-top: 2rem;
      padding-left: 1rem;
      
      @include media($m) {
        position: absolute;
        display: block;
        width: 10.5rem;
        margin-top: 0;
      }

      &:after{
        content: '';
        width: 1rem;
        height: 2px;
        display: block;
        position: absolute;
        background:$main;
        bottom: -.5rem;
      }
    }
    img{
      width: 100%;
    }
  }
   .item-01{
    .item-copy{
      
      @include media($m) {
        bottom: 1rem;
        right: -11.5rem;
      }
    }
    .item-image{
      @include column(12,12);
      margin-left: 0%;

      @include media($m) {
        @include column(7,12);
        margin-left: 1/12*100%;
      }
    }
  }
   .item-02{
    .item-copy{
     
      @include media($m) {
        bottom: -4.5rem;
        left: 0rem;
      }
    }
    .item-image{
      @include column(12,12);
      margin-left: 0;
      padding-top: 0;
      
      @include media($m) {
        @include column(5,12);
        margin-left: .5/12*100%;
        padding-top: 15rem;
      }
      @include media($l) {
        @include column(4.5,12);
        margin-left: .5/12*100%;
      }
    }
  }
   .item-03{
    .item-copy{
      
      @include media($m) {
        top: 8rem;
        left: -12.5rem;
        text-align: right;
        &:after{
          right: 0;
        }
      }
      
    }
    .item-image{
      @include column(12,12);
      margin-left: 0%;

      @include media($m) {
        @include column(5.5,12);
        margin-left: .5/12*100%;
        @include omega;
      }
      @include media($l) {
        @include column(6,12);
        margin-left: .5/12*100%;
      }
    }
  }
  .item-04{
    .item-copy{

      @include media($m) {
        width: 11.5rem;
        bottom: -4.5rem;
        right: 1rem;
        text-align: right;
        &:after{
          right: 0;
        }
      }
    }
    .item-image{
      @include column(12,12);
      margin-left: 0%;
      @include media($m) {
        @include column(7,12);
        margin-left: 4/12*100%;
      }
      @include media($l) {
        @include column(7,12);
        margin-left: 3/12*100%;
      }
    }
  }
  .item-05{
    .item-copy{
      @include media($m) {
        bottom: -4.5rem;
        left: 0rem;
      }
    }
    .item-image{
      @include column(12,12);
      margin-left: 0;
      padding-top: 0;
      
      @include media($m) {
        @include column(6,12);
        margin-left: .5/12*100%;
      }
      @include media($l) {
        @include column(5.5,12);
        margin-left: .5/12*100%;
      }
    }
  }
  .item-06{
    .item-copy{
      @include media($m) {
        bottom: -4.5rem;
        left: 0rem;
      }
    }
    .item-image{
      @include column(12,12);
      margin-left: 0;
      padding-top: 0;
      
      @include media($m) {
        @include column(4,12);
        margin-left: .5/12*100%;
        padding-top: 15rem;
      }
      @include media($l) {
        @include column(4.5,12);
        margin-left: .5/12*100%;
      }
    }
  }
}


/////////////////////////////////////////
//Contact
/////////////////////////////////////////

.contact{

}

.email{
  text-align: center;
  display: block;
  padding: 3rem 0;
  @include clearfix;
  border-top: 1px solid $dividers;
  @include media($m) {
    padding: 4rem 0 4rem 0;
    display: block;
  }
}
.contact-cta{

    span{
      position: relative;
      @include catamaran(800, 1.5rem);
      z-index: 1;

      @include media($m) {
        @include catamaran(800, 2rem);
      }

      > span{
        display: none;
      }
      &:after{
        content: '';
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 12px;
        left: 0;
        background:$main;
        z-index: -1;
        transition: all .3s;  

        @include media($m) {
          height: 10px;
          position: absolute;
          bottom: 16px;
        }
      }
    }
    &:hover span:after{
      width: 104%;
      height: 28px;
      left: -2%;
      transition: all .3s;
    }
}
.social-media{
  height: 130px;
  width: 100%;
  display: block;
  position: relative;
  background:#292A2B;
}





