//SEAT WEBSITE
.case {
  margin-bottom: 8rem;

  @include media($m) {
      margin-bottom: 16rem;
    }

  .close-btn {
    width: 40px;
    height: 40px;
    display: block;
    background: white url("../images/ui/close-icon.svg") center center no-repeat;
    background-size: 40%;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 99;
		
		@include media($m) {
	    width: 45px;
    	height: 45px;
    	top: 3rem;
    	right: 2rem;
	  }
    &:hover{
      top: 2.9rem;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    }
    &:after {
      display: none;
    }
  }
}
.case-header {
  width: 100%;
  position: relative;

  .copy-block {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 3.5rem;
    @include media($m) {
      @include column(11, 12);
      margin-left: 1/12*100%;
      padding-top: 4.5rem;
    }

    > .case-title {
      line-height: 40px;
      width: auto;
      margin-bottom: 2rem;
      margin-left: 0rem;

      @include media($m) {
        @include column(11, 12);
        line-height: 1.11;
        margin-bottom: 3rem;
      }
      @include media($l) {
        @include column(9, 12);
        margin-right: 2/12*100%;
      }
    }
  }
}
.case-data {
  @include clearfix;
  margin-bottom: 2rem;
  @include media($m) {
    margin-left: 0rem;
  }
}
.case-data-item {
  width: 100%;
  float: left;
  @include work(300, 1rem);
  text-align: left;
  margin-bottom: 1rem;
  line-height: 30px;

  @include media($m) {
    width: auto;
    line-height: 40px;
    margin-right: 2rem;
    margin-bottom: 0rem;
  }
  > .info {
    @include work(500, 1rem);
  }
}
.case-header-image {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  figure{
    max-width: 1440px;
  }
  img {
    width: 100%;
  }
}
////////////////////////////
//SEAT WEBSITE CASE
///////////////////////////

.article {
  width: 100%;

  p:first-child:first-letter {
    color: $title;
    @include work(300, 4.5rem);
    float: left;
    line-height: 60px;
    padding-top: 10px;
    padding-right: 8px;
    padding-left:0px;
  }
  h2 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
    position: relative;
    @include border-box;

    @include media($m) {
      padding: 0;
      padding-right: 4rem;
      @include work(400, 2.1rem);
      line-height: 50px;
      letter-spacing: 0px;
    }
  }
  p {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
    position: relative;
    @include border-box;

    @include media($m) {
      padding-right: 0rem;
      padding-left: 0;
    }
  }
  .case-image {
    width: 100%;
    max-width: $max-width;
    margin: 2rem auto;
    @include media($m) {
      margin: 6rem auto;
    }

    img {
      width: 100%;
    }
  }
}
