<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<!-- CONCAT FILES WITH CUSTOM JS -->
<script src='{{ "/js/min/main.min.js" | relative_url }}'></script>
<!-- WEB FONTS LOADER -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
WebFont.load({
google: {
	families: [
	'Catamaran:100,200,300,400,500,600,700,800,900'
	]}
});
</script>