<!-- jQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<!-- CONCAT FILES WITH CUSTOM JS -->
<script src='{{ "/js/min/main.min.js" | relative_url }}'></script>
<!-- WEB FONTS LOADER -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
WebFont.load({
google: {
families: [
'Catamaran:100,200,300,400,500,600,700,800,900'
]}
});
</script>