/////////////////////////////////////////
//Case Grid
/////////////////////////////////////////
.case-grid {
  background: $grey-6;
  box-shadow: inset 0 -120px 0 $grey-7;
}
.grid-flex{
	width: 100%;
	margin-top: 5rem;
	padding-left: 2.5rem;
	@include border-box;
	display: flex;
	flex-flow: space-between row-wrap; 
	margin-bottom: 6rem;
	
	.flex-column_left {
		width: 66%;
		display: block;
		padding-right: .25rem;
		@include border-box;
	}
	.flex-column_right {
		width: 34%;
		padding-left: .25rem;
		@include border-box;
	}
	.inner-flex-block{
		display: flex;
		flex-flow: space-between;
		align-items: flex-start; 
	}
	.inner-flex{
		width: 50%;
	}
	.inner-left{
		padding-right: .25rem;
	}
	.inner-right{
		padding-left: .25rem;
	}
	.flex-image{
		width: 100%;
		figure{
			
		}
		img{
			width: 100%;
			border-radius: 10px;
		}
	}
	.flex-image-1, .flex-image-2, .flex-image-3, .flex-image-4{
		margin-bottom: .5rem;
	}


}
