.out-container {
  @include out-container;
  padding: 0;
}
.navigation {
  @include column(10, 12);
  margin-left: 1/12*100%;
  margin-top: 40px;

	@include media($m) {
    @include column(10, 12);
 	 	margin-left: 1/12*100%;
  	margin-top: 56px;
  }
	
  @include media($l) {
    @include column(10, 12);
 	 	margin-left: 1/12*100%;
  	margin-top: 56px;
  }

  @include media($xl) {
    @include column(11, 12);
 	 	margin-left: 1/12*100%;
  	margin-top: 56px;
  }

  .nav-logo {
    float: left;

    a:after {
      display: none;
    }
  }
  .nav-contact {
    float: right;
    @include ubuntu(400, 24px);
    line-height: 67px;

		@include media($m) {
			a{
				&:after{
					background: white;
				}
				&:hover:after{
					background: $grey-1;
				}
			}
	  }

  }
}
.article {
  @include column(10, 12);
  margin-left: 1/12*100%;
  margin-top: 80px;
  margin-bottom: 80px;

  @include media($m) {
    @include column(10, 12);
  	margin-left: 1/12*100%;
  	margin-top: 120px;
  	margin-bottom: 120px;
  }

  @include media($l) {
    @include column(8, 12);
  	margin-left: 1/12*100%;
  	margin-top: 120px;
  	margin-bottom: 120px;
  }
}
.eyebrow {
  @include ubuntu(400, 24px);
  line-height: 28px;
  margin-bottom: 24px;

	@include media($m) {
    @include ubuntu(400, 24px);
  	line-height: 28px;
  	margin-bottom: 32px;
  }

}
.title {
  margin-left: -3px;
  @include media($m) {
    margin-left: -6px;
  }

}
.main-copy {
  margin-top: 80px;
}
.main-copy p, .secondary-copy p {
  margin-bottom: 48px;
}
.secondary-copy {
  margin-top: 80px;
  @include media($m) {
    margin-top: 200px;
  }
}
.contact-address span {
  display: none;
}
.img-floating {
  width: 400px;
  height: 300px;
  position: absolute;
  right: -390px;
  top: -290px;
  display: none;
  background: red;
  z-index: 99;
  box-shadow: 0 5px 20px 0px rgba(0,0,0,.05);

  img{
  	width: 100%;
  }
}
.img-reveal {
  position: relative;
  cursor: progress;
  transition: all .3s;
  display: none;

  @include media($m) {
    display: inline;
  }

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: $grey-1;
    z-index: -1;
    transition: all .3s;

		@include media($m) {
      height: 4px;
    }

  }
  &:hover:after {
    height: 102%;
    width: 104%;
    left: -2%;
    border-radius: 2px;
    transition: all .3s;
  }

  &:hover {
  	color: white;
    .img-floating {
      display: block;
    }
  }
}

.small-display{
	display: inline;
	
	@include media($m) {
      display: none;
    }
}


