// Breakpoints
$bp-small: 23.43em;  // 375px
$bp-medium: 48em;    // 768px
$bp-large: 64em;     // 1024px
$bp-xlarge: 90.1em;  // 1441px
$bp-xxlarge: 120em;  // 1920px

// Media Queries
$s: min-width $bp-small;
$m: min-width $bp-medium;
$l: min-width $bp-large;
$xl: min-width $bp-xlarge;
$xxl: min-width $bp-xxlarge;

// Colors
$grey-1: #F5F7FA;
$grey-2: #D8DDE6;
$grey-3: #C0C5CC;
$grey-4: #909399;
$grey-5: #606266;
$grey-6: #484A4D;
$grey-7: #303234;
$dividers: $grey-2;

$red: #FF4C4F;
$orange: #FCAF56;
$yellow: #FFE04A;
$green: #3BE66F;
$blue: #576FF3;
$dark-blue: #073288;
$sky-blue: #8EDCF8;
$purple: #A98FC1;
$pink: #FF3F6E;


// Variables
$base-typography: 20px;
$max-width: 1440px;
$radius: 2px;


//Helpers in layout
@mixin clearfix { &::after, &::before { content: " "; display: table; }
  &::after { clear: both; content: ""; display: block }
*zoom:1; }
@mixin border-box { box-sizing: border-box; }
@mixin no-space { margin: 0; padding: 0; }


//Typography
@mixin smoothy{
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@mixin crimson($weight, $size) {
  font-family: 'Crimson Text', Georgia, serif; 
  font-weight: $weight; 
  font-size: $size; 
  @include smoothy;
}

@mixin catamaran($weight, $size) {
  font-family: 'Catamaran', Helvetica, sans-serif; 
  font-weight: $weight; 
  font-size: $size; 
  @include smoothy;
}

//Grid Mixins
@mixin out-container{
  width: 100%;
  max-width: $max-width;
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
  @include border-box;
  @include clearfix; 

  @include media($l){
    padding: 0 2.5rem;

  }
}

@mixin column($width, $number){
  width: $width / $number * 100%;
  position: relative;
  float: left;
}
@mixin col-margin($width, $number){
  margin-left: $width / $number * 100%;
}

.out-container{
  @include out-container;
}

//Animations
.animated{animation-duration:0s;//MEDIA QUERY
  @include media($m){animation-duration:1s;animation-fill-mode:both}}
.animated.infinite {  animation-iteration-count: infinite; }
.animated.hinge { animation-duration: .5s; }
@-webkit-keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 100%, 0); }
  to { opacity: 1;  transform: none; }
}
@keyframes fadeInUp {
  from { opacity: 0;  transform: translate3d(0, 100%, 0); }
  to { opacity: 1; transform: none; }
}
.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

@keyframes fadeInDown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to { opacity: 1; transform: none; }
}
.fadeInDown { animation-name: fadeInDown; }

.fromBottomIn { @include media($l){ transition: all 1s; transform: translate3d(0, 0px, 0); opacity: 1.0; } }

.fromBottomOut { @include media($l){ transition: all 1s; transform: translate3d(0, 50px, 0); opacity: 1.0; } }





