// Breakpoints
$bp-small: 23.43em;  // 375px
$bp-medium: 48em;    // 768px
$bp-large: 64em;     // 1024px
$bp-largex: 80.1em;  // 1281px
$bp-xlarge: 90.1em;  // 1441px
$bp-xxlarge: 120em;  // 1920px

// Media Queries
$s: min-width $bp-small;
$m: min-width $bp-medium;
$l: min-width $bp-large;
$lx: min-width $bp-largex;
$xl: min-width $bp-xlarge;
$xxl: min-width $bp-xxlarge;

// Colors
$grey-1: #FAFBFC;
$grey-2: #F0F2F5;
$grey-3: #D8DDE6;
$grey-4: #909399;
$grey-5: #606266;
$grey-6: #4F6266;
$grey-7: #3D4647;
$dividers: $grey-2;
$placeholders: $grey-1;


$green: #39EF9F;
$red: #F8223E;


$main: $green;
$text: $grey-6;
$title: $grey-7;

// Variables
$base-typography: 20px;
$max-width: 1440px;
$radius: 2px;


//Helpers in layout
@mixin clearfix { &::after, &::before { content: " "; display: table; }
  &::after { clear: both; content: ""; display: block }
*zoom:1; }
@mixin border-box { box-sizing: border-box; }
@mixin no-space { margin: 0; padding: 0; }


//Typography
@mixin smoothy{
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@mixin work($weight, $size) {
  font-family: 'Work Sans', Helvetica, sans-serif; 
  font-weight: $weight; 
  font-size: $size; 
  @include smoothy;
}

//Grid Mixins
@mixin out-container{
  width: 100%;
  max-width: $max-width;
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
  @include border-box;
  @include clearfix; 
  
  @include media($m) {
    padding: 0 2rem;
  }

  @include media($l) {
    padding: 0 2.5rem;
  }
}

@mixin column($width, $number){
  width: $width / $number * 100%;
  margin-right: 1rem;
  position: relative;
  float: left;
}
@mixin omega{
  margin-right: 0;
}
.out-container{
  @include out-container;
}







