// Typography

h1, h2, h3, h4, h5, p, ul, li, a {
  @include no-space;
}
h1 {
  @include catamaran(300, 1.8rem);
  color: white;
  line-height: 1.08;
  @include media($m) {
    @include catamaran(700, 2.25rem);
    line-height: 1.08;
  }
  @include media($l) {
    @include catamaran(800, 2.5rem);
    line-height: 1.08;
  }
}
h2 {
  @include catamaran(900, 1.8rem);
  color: $title;
  line-height: 1.125;
  
  @include media($m) {
    @include catamaran(900, 2.4rem);
    line-height: 1.125;
  }

}
h3 {
  @include catamaran(900, 1.6rem);
  color: $title;
  line-height: 1.125;

  @include media($m) {
    @include catamaran(900, 2.4rem);
    line-height: 1.125;
  }
}
h4 {
  @include catamaran(700, 1rem);
  color: $title;
  line-height: 1.5;
  margin-bottom: 1rem;
}
p, li , figcaption{
  @include catamaran(400, .9rem);
  color: $text;
  line-height: 1.5;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}
a {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: all .3s;
  font-weight: 700;
  color: $title;
  transition: all .3s;
  &:after{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 7px;
    left: 0;
    background:$main;
    z-index: -1;
    transition: all .3s;
  }
  &:hover:after{
      width: 108%;
      height: 11px;
      left: -4%;
      transition: all .3s;
  }
}
blockquote {
  p {
    padding-left: .5rem;
    font-style: italic;
  }
}
ul {
  list-style: none;
}
