// Typography

h1, h2, h3, h4, h5, p, ul, li, a {
  @include no-space;
}
h1 {
  @include work(300, 2.1rem);
  color: $title;
  line-height: 1;

  @include media($m) {
    @include work(300, 3.2rem);
    line-height: 1.1;
    letter-spacing: 3px;
  }
}
h2 {
  @include work(300, 2.1rem);
  color: $title;
  line-height: 1.125;
  
  @include media($m) {
    @include work(300, 3.2rem);
    line-height: 1.1;
    letter-spacing: 3px;
  }

}
h3 {
  @include work(900, 1.4rem);
  color: $title;
  line-height: 1.125;

  @include media($m) {
    @include work(900, 2.4rem);
    line-height: 1.125;
  }
}
h4 {
  @include work(700, 1rem);
  color: $title;
  line-height: 1.5;
  margin-bottom: 1rem;
}
p, li , figcaption{
  @include work(400, 1.1rem);
  color: $text;
  line-height: 40px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}
a {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: all .3s;
  font-weight: 500;
  transition: all .3s;

  &:after{
    content: '';
    width: 100%;
    height: .3em;
    position: absolute;
    bottom: 3px;
    left: 0;
    background:$main;
    box-shadow: 0rem 0 0 $main;
    z-index: -1;
    transition: all .3s;
  }
  &:hover:after{
      height: 1.2em;
      left: 0%;
      box-shadow: .5em 0 0 $main;
      transition: all .3s;
  }
}
blockquote {
  p {
    padding-left: .5rem;
    font-style: italic;
  }
}
ul {
  list-style: none;
}
