/////////////////////////////////////////
//Grid Mixins
/////////////////////////////////////////
@mixin out-container{
  width: 100%;
  max-width: $max-width;
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
  @include clearfix;
  @include border-box;
}

@mixin column($width, $margin){
  width: $width / 12 * 100%;
  margin-left: $margin / 12 * 100%;
  position: relative;
  float: left;
}

.out-container{
	@include out-container;
}
